<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run360</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body class="actualMain">
    <header class="header">
        <div>
            <img src="/running.png" alt="running" class="header-img">
            <h1 class="mainTitle">Run360</h1>
            <ul class="linkList">
                <li class="links"><a class="pages" href="/">Home</a></li>
                <li class="links"><a class="pages" href="/allRuns">All Runs</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p class="legalText">&copy; 2024 Anika Grewal, Bri Guemos, and Mariessa Pinto. All rights reserved.</p>
        </div>
    </header>
    <main>