<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run360</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <header class="header">
        <img src="/running.png" alt="running"> 
        <h1>Run360</h1>
   
        <ul>
            <li class="links"><a class="pages" href="/">Home</a></li>
            <li class="links"><a class="pages" href="/allRuns">All Runs</a></li>
        </ul>
    </header>
    <main>