body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.actualMain {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    width: 52rem;
    justify-content: space-between;
}

.background {
    min-height: 100vh;
    width: 80vw;
    background-color: lightgray;
}

.header {
    height: 100vh;
    width: 20rem; 
    background-color: rgb(215 214 218);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-img {
    width: 20rem;
    height: auto;
    object-fit: cover;
}

.mainTitle {
    font-size: 72px;
    margin-left: 1rem;
    color: #741651;
}

.linkList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.copyright {
    display: flex;
    justify-content: center;
}

.legalText {
    font-size: 9px;
}

.edit{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.run{
    width: 46rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3rem;
    background-color: white;
}

.inputbox{
    border-style: solid;
    border-color: #d3d3d3; 
    border-radius: 1rem; 
    box-shadow: none; 
    height: 2rem;
    padding: 0.5rem;
}

.runtitle{
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
}

.links{
    list-style-type: none;
    font-size: 24px;
}

.pages{
    text-decoration: none;
    color: #002868;
    font-weight: 600;
}

.caption{
    font-size: 100px;
}

.addbutton{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: transparent;
    border-style: solid;
    cursor: pointer;
}

.btn {
    height: 3rem;
    width: 5rem;
    border-radius: 2rem;
    background-color: transparent;
    border-style: solid;
    cursor: pointer;
}

.run-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.view-mode {
    background-color: white;
    width: 20rem;
    height: 15rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
}

.run-item-all {
    background-color: white;
    width: 20rem;
    height: 15rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.run-main {
    display: flex;
    gap: 10rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.btn-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.allRunsMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}
