/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    
}
.background{
    height: 1000px;
    width: 2000px;
    background-color: lightgray;
}

.header {
    height: 100%;
    width: 250px; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}
.edit{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.run{
    margin-left: 50px;
    width: 800px;
    height: 600px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    
}
.inputbox{
    border: none; 
    outline: none; 
    box-shadow: none; 
}
.runtitle{
    font-size: 32px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links{
    list-style-type: none;
    font-size: 24px;
}
.pages{
    text-decoration: none;
    color: black;
}

.caption{
    font-size: 100px;
}

.addbutton{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: transparent;
}



